
//Functionality

//.nav__menu--checkbox:checked ~ .menu__background,
.nav__menu--checkbox:checked ~ .menu {
    //display: block;
    width: 22rem;
    opacity: .85;
    visibility: visible;
    //z-index: 12345;

    @media only screen and (min-width: $bp-large) {
        width: 25rem;
    }

    @media only screen and (max-width: $bp-mediumsmall) {
        width: 18rem;
    }
}




.nav__menu--checkbox:checked + .nav__menu--button .nav__menu--button-icon {
    background-color: transparent;
}

.nav__menu--checkbox:checked + .nav__menu--button .nav__menu--button-icon::after {
    transform: rotate(-135deg);
    top: 0;
}

.nav__menu--checkbox:checked + .nav__menu--button .nav__menu--button-icon::before {
    transform: rotate(135deg);
    top: 0;
}

.menu {
    width: 0;
    opacity: 0;
    //width: 24rem;
    height: 100vh;
    margin-top: 5.8rem;

    position: fixed;
    top: 0;
    left: 0;
    background-color: white;

    transition: all .3s;

    visibility: hidden;


    /*&__background {
        width: 24rem;
        height: 100vh;
        margin-top: 5.8rem;
        background-color: rgba(205, 92, 92, 0.616);

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1234;
        display: none;
        opacity: .75;
    }*/

    &__list {
        width: 100%;
        height: 100%;
        margin-top: 1rem;

        display: flex;
        flex-direction: column;

        &-item {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 95%;
            height: 4rem;
            background-color: white;
            &:first-child { 
                background-color: #e2e2e2;
                &:hover {
                    background-color: rgb(201, 201, 201);
                }
            }
            &:hover {
                background-color: $color-icon-hover;
            }
           
        }

        &-link {
           width: 100%;
           height: 100%;
           display: flex;
           align-items: center;
           justify-content: space-around;
           text-decoration: none;

            &--icon {
                color: $color-icon;
                font-size: $_nav-menu-icon-size;
                flex: 0 1 20%;
                margin-left: 2.5rem;
            }   

            &--text {
                color: $color-icon;
                font-weight: 500;
                font-size: 90%;
                flex: 0 1 80%;
                margin-left: 1rem;

              
            }
        }

    }
}
.greyline { 
    position: relative;
    margin-bottom: 2.4rem;

    &::after {
        content: "";
        width: 100%;
        height: .1rem;
        background-color: rgb(219, 219, 219);
        z-index: 555555555555555555;
        display: block;
        position: absolute;
        bottom: -1.2rem;
    }
}


.dark-text {
    color: rgb(15, 15, 15) !important;
}
