.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 5.8rem;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3000000;
  top: 0;
  padding: 0 1.6rem;
}

@media only screen and (max-width: 37.5em) {
  .nav {
    height: 4.8rem;
  }
}

@media only screen and (max-width: 26em) {
  .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav__menu--checkbox {
  display: none;
}

.nav__menu--button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: .8rem;
  left: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 123456;
}

@media only screen and (max-width: 37.5em) {
  .nav__menu--button {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    left: 1rem;
  }
}

.nav__menu--button:hover {
  background-color: #eeeaea;
}

.nav__menu--button:active {
  background-color: whitesmoke;
}

.nav__menu--button-icon {
  display: block;
  width: 1.8rem;
  height: .2rem;
  background-color: black;
  position: relative;
}

.nav__menu--button-icon::after, .nav__menu--button-icon::before {
  content: "";
  display: block;
  width: 100%;
  height: .2rem;
  background-color: black;
  position: absolute;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.nav__menu--button-icon::after {
  top: .5rem;
}

.nav__menu--button-icon::before {
  top: -.5rem;
}

.nav__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

.nav__left--logo {
  width: 9rem;
  height: 5rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3rem;
  margin-left: 2.7rem;
}

.nav__left--logo-img {
  width: 100%;
}

.nav__mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 52%;
          flex: 0 0 52%;
  margin-left: 2rem;
  max-width: 70rem;
}

@media only screen and (max-width: 37.5em) {
  .nav__mid {
    display: none;
  }
}

.nav__mid--form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  position: relative;
}

.nav__mid--form-input {
  width: 100%;
  height: 100%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 0.1rem solid #b4b4b4;
  padding-left: .5rem;
  position: relative;
  outline: none;
}

.nav__mid--form-input::-webkit-input-placeholder {
  font-size: 1.6rem;
  font-weight: 500;
}

.nav__mid--form-input:-ms-input-placeholder {
  font-size: 1.6rem;
  font-weight: 500;
}

.nav__mid--form-input::-ms-input-placeholder {
  font-size: 1.6rem;
  font-weight: 500;
}

.nav__mid--form-input::placeholder {
  font-size: 1.6rem;
  font-weight: 500;
}

.nav__mid--form-input:focus {
  border: .1rem solid blue;
}

.nav__mid--form-btn {
  height: 3rem;
  width: 5rem;
  border: 0.1rem solid #b4b4b4;
  background-color: #f7f7f7;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-left: none;
  padding: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2rem;
}

@media only screen and (max-width: 56.25em) {
  .nav__right {
    margin-right: .5rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .nav__right {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .nav__right {
    margin-right: 0;
  }
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  width: 7.5rem;
  height: 100vh;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1234567;
  padding-top: 6rem;
  left: 0;
  top: 0;
}

@media only screen and (max-width: 37.5em) {
  .sidebar {
    display: none;
  }
}

.sidebar__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.6rem 1.1rem;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #646464;
}

.sidebar__holder:hover {
  background-color: #ebebeb;
}

.sidebar__text {
  font-weight: 400;
  font-size: 1rem;
  color: #646464;
}

.sidebar__icon {
  font-size: 2rem;
  margin-bottom: .5rem;
}

.fa-home {
  color: red !important;
}

.red {
  color: red;
}

.grid {
  margin-top: 1.3rem;
  margin-left: 7.5rem;
  padding: 1.3rem 2.4rem;
  display: -ms-grid;
  display: grid;
  gap: 0 1.5rem;
  -ms-grid-columns: (minmax(24rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  background-color: #f7f7f7;
}

@media only screen and (min-width: 100em) {
  .grid {
    -ms-grid-columns: (minmax(28rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  }
}

@media only screen and (min-width: 76em) {
  .grid {
    -ms-grid-columns: (minmax(26rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  }
}

@media only screen and (max-width: 56.25em) {
  .grid {
    padding: 1.3rem 1.5rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .grid {
    -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  }
}

@media only screen and (max-width: 37.5em) {
  .grid {
    margin-left: 0;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-top: .7rem;
  }
}

@media only screen and (max-width: 26em) {
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0;
    margin-top: .7rem;
  }
}

.hover-effect {
  width: 100%;
  height: 100%;
  opacity: .8;
  background-color: #161616;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
}

.hover-effect-text {
  width: 100%;
  height: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50%;
  text-transform: uppercase;
  font-weight: 500;
}

.hover-effect-icon {
  font-size: 120%;
  color: white;
  margin-left: 1rem;
}

.right-img-btm {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 .5rem;
  background-color: #161616;
  border-radius: 3px;
}

.fa-reacteurope {
  color: white;
  font-size: 90% !important;
}

.card__text-1 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 1 100% !important;
          flex: 0 1 100% !important;
  margin-left: 0 !important;
}

.info {
  white-space: normal !important;
}

.add {
  background-color: #ffbc04;
  padding: .2rem .4rem;
  border-radius: 3px;
  color: #f7f7f7;
  font-size: 90%;
}

.margin-top {
  margin-top: 1rem;
}

.card {
  max-width: 29rem;
  max-height: 28rem;
  min-height: 26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  cursor: pointer;
  position: relative;
}

@media only screen and (min-width: 100em) {
  .card {
    max-width: 33rem;
    max-height: 31rem;
  }
}

@media only screen and (min-width: 76em) {
  .card {
    max-width: 33rem;
    max-height: 31rem;
  }
}

@media only screen and (max-width: 76em) {
  .card {
    max-width: 32rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .card {
    max-width: 25rem;
    max-height: 20rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .card {
    width: 100%;
    max-width: 50rem;
    max-height: 50vh;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 26em) {
  .card {
    max-width: 444rem;
    max-height: 25rem;
    min-height: 26rem;
    margin: 0 0 .5rem 0;
  }
}

.card:hover .card__holder-holder {
  visibility: visible;
}

.card:hover .card__text-dot {
  display: block;
}

.card:hover .card__holder-play {
  display: block;
  -webkit-animation: Opacity 1s;
          animation: Opacity 1s;
}

.card:hover .hover-effect {
  display: block;
}

.card__holder {
  width: 100%;
  min-height: 10rem;
  max-height: 29rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 37.5em) {
  .card__holder {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
  }
}

@media only screen and (max-width: 26em) {
  .card__holder {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }
}

.card__holder-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__holder-play {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #d6d6d6 !important;
  font-size: 3rem;
}

.card__holder-time {
  position: absolute;
  bottom: -.1rem;
  right: -.8rem;
  -webkit-transform: translate(-30%, -30%);
          transform: translate(-30%, -30%);
  z-index: 1000;
  color: white;
  font-size: 80%;
  background-color: #161616;
  font-weight: 500;
  font-size: 75%;
  letter-spacing: .5px;
  border-radius: 3px;
  padding: 0 4px;
}

.card__holder-hov {
  color: white !important;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #161616;
  opacity: 90%;
  margin-top: .4rem;
  padding-left: .5rem;
  height: 2.8rem;
  opacity: 90%;
  font-size: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__holder-hov-mom {
  display: none;
}

.card__holder-holder {
  visibility: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.8rem;
}

.card__holder-holder:hover .card__holder-hov-mom {
  display: inline-block;
  -webkit-animation: MoveInLeft 0.6s cubic-bezier(1, -0.06, 0.38, 1.07);
          animation: MoveInLeft 0.6s cubic-bezier(1, -0.06, 0.38, 1.07);
}

.card__holder-holder:hover .card__holder-icon {
  -webkit-animation: BorderRadius .6s linear;
          animation: BorderRadius .6s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.card__holder-holder1 {
  top: .3rem;
  right: .3rem;
}

.card__holder-holder2 {
  top: 3.3rem;
  right: .3rem;
}

.card__holder-icon {
  color: white !important;
  border-radius: 5px;
  padding: 6.6rem;
  background-color: #161616;
  opacity: 90%;
  height: 100%;
  width: 100%;
}

.card__holder-icon:last-child {
  margin-top: .4rem;
  padding: .6rem .6rem;
}

.card__holder-icon-1 {
  padding: .6rem .7rem !important;
}

.card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

@media only screen and (max-width: 37.5em) {
  .card__bottom {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }
}

@media only screen and (max-width: 26em) {
  .card__bottom {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
    margin-left: 2rem;
    font-size: 110%;
  }
}

.card__user {
  width: 3.6rem;
  height: 3.6rem;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}

@media only screen and (max-width: 37.5em) {
  .card__user {
    margin-left: .5rem;
  }
}

.card__user-img {
  width: 100%;
  height: 100%;
}

.card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1.3rem;
  line-height: 120%;
  font-size: 90%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  position: relative;
}

@media only screen and (max-width: 43.75em) {
  .card__text {
    font-size: 70%;
  }
}

.card__text-h2 {
  font-size: 100%;
  font-weight: 500;
  margin-bottom: .6rem;
  margin-right: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .card__text-h2 {
    margin-bottom: .3rem;
  }
}

.card__text-nick {
  font-weight: 400;
  color: #646464;
  white-space: nowrap;
}

@media only screen and (max-width: 26em) {
  .card__text-nick {
    margin-right: .4rem;
  }
}

.card__text-nick-bpdot {
  display: none;
}

@media only screen and (max-width: 26em) {
  .card__text-nick-bpdot {
    display: inline-block;
  }
}

.card__text-span {
  color: #646464;
}

@media only screen and (max-width: 26em) {
  .card__text-span {
    white-space: nowrap;
  }
}

.card__text-span-left {
  white-space: nowrap;
}

.card__text-span-right {
  margin-right: 2rem;
  white-space: nowrap;
}

.card__text-dot {
  display: none;
  width: 1.5rem;
  height: 3rem;
  position: absolute;
  top: .5rem;
  right: 0;
}

.card__text-dot-1card {
  display: inline-block !important;
}

@media only screen and (max-width: 56.25em) {
  .card__text-dot {
    right: 0;
  }
}

@media only screen and (max-width: 26em) {
  .card__text-dot {
    top: 0;
  }
}

.card__text-dot:hover .card__text-dot-s,
.card__text-dot:hover .card__text-dot-s::before,
.card__text-dot:hover .card__text-dot-s::after {
  background-color: #2e2e2e;
}

.card__text-dot-s {
  display: block;
  position: absolute;
  top: 1rem;
  right: .5rem;
  width: .4rem;
  height: .4rem;
  border-radius: 50%;
  background-color: #797979;
  cursor: pointer;
}

@media only screen and (max-width: 56.25em) {
  .card__text-dot-s {
    width: .3rem;
    height: .3rem;
  }
}

.card__text-dot-s::after {
  content: "";
  display: block;
  position: absolute;
  top: -.6rem;
  width: .4rem;
  height: .4rem;
  border-radius: 50%;
  background-color: #797979;
}

@media only screen and (max-width: 56.25em) {
  .card__text-dot-s::after {
    width: .3rem;
    height: .3rem;
  }
}

.card__text-dot-s::before {
  content: "";
  display: block;
  position: absolute;
  top: .6rem;
  width: .4rem;
  height: .4rem;
  border-radius: 50%;
  background-color: #797979;
}

@media only screen and (max-width: 56.25em) {
  .card__text-dot-s::before {
    width: .3rem;
    height: .3rem;
  }
}

@media only screen and (max-width: 26em) {
  .card__text-bpflex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.icon-hover-text {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 3rem);
          transform: translate(-50%, 3rem);
  padding: .8rem;
  color: white;
  background-color: #646464;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 120%;
  white-space: nowrap;
  letter-spacing: .5px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

i {
  color: #646464;
}

.i-basic {
  display: inline-block;
  font-size: 1.7rem;
  position: relative;
}

@media only screen and (max-width: 43.75em) {
  .i-basic {
    font-size: 1.5rem;
  }
}

.fa-microphone {
  position: absolute;
}

.fa-keyboard {
  position: absolute;
  cursor: pointer;
  right: 13rem;
}

@media only screen and (max-width: 43.75em) {
  .fa-keyboard {
    right: 12rem;
  }
}

.fa-keyboard:hover {
  color: #ebebeb;
}

.fa-search {
  font-size: 1.4rem !important;
  padding: 0 1rem;
}

.mom1:hover .span-video {
  opacity: 1;
  visibility: visible;
}

.mom2:hover .span-dice-six {
  opacity: 1;
  visibility: visible;
}

.mom3:hover .span-bell {
  opacity: 1;
  visibility: visible;
}

.mom4:hover .span-microphone {
  opacity: 1;
  visibility: visible;
}

.mom4 {
  margin-left: 1rem;
}

.mom5:hover .span-search {
  opacity: 1;
  visibility: visible;
}

.span-search {
  font-size: 90%;
}

.i-mom {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media only screen and (max-width: 43.75em) {
  .i-mom {
    width: 3rem;
    height: 3rem;
    margin-right: .5rem;
  }
}

.i-mom:hover {
  background-color: #ebebeb;
}

.hotlist {
  margin-left: 7.5rem;
  margin-top: 5.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media only screen and (max-width: 37.5em) {
  .hotlist {
    margin-left: 0;
    margin-top: 4.5rem;
  }
}

.hotlist::after {
  content: "";
  width: 100%;
  height: .1rem;
  background-color: #dbdbdb;
  z-index: 5;
  display: block;
  position: absolute;
  bottom: -1.5rem;
}

@media only screen and (max-width: 37.5em) {
  .hotlist::after {
    bottom: -.7rem;
  }
}

.hotlist::before {
  content: "";
  width: 100%;
  height: .1rem;
  background-color: #dbdbdb;
  z-index: 5;
  display: block;
  position: absolute;
  top: 0;
}

@media only screen and (max-width: 37.5em) {
  .hotlist::before {
    top: .3rem;
  }
}

.hotlist__item {
  color: #5c5c5c;
  padding: .3rem 1.2rem .3rem 1.2rem;
  border: 0.5px solid #b4b4b4;
  border-radius: 10rem;
  margin-left: 1.2rem;
  margin-top: 1rem;
  font-weight: 500;
  font-size: 90%;
  background-color: #f0f0f0;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  white-space: nowrap;
}

@media only screen and (max-width: 37.5em) {
  .hotlist__item {
    font-size: 70%;
    padding: .1rem .7rem;
  }
}

.hotlist__item:hover {
  background-color: #dddddd;
}

.hotlist__item:first-child {
  background-color: black;
  color: #e0e0e0;
}

.hotlist__item:first-child:hover {
  background-color: #8d8d8d;
  color: #f1f1f1;
}

@media only screen and (max-width: 26em) {
  .bp-hide-verysmall {
    display: none;
  }
}

@media only screen and (max-width: 43.75em) {
  .bp-hide-mediumsmall {
    display: none;
  }
}

@media only screen and (max-width: 76em) {
  .bp-hide-large {
    display: none;
  }
}

@media only screen and (max-width: 100em) {
  .bp-hide-largest {
    display: none;
  }
}

.nav__menu--checkbox:checked ~ .menu {
  width: 22rem;
  opacity: .85;
  visibility: visible;
}

@media only screen and (min-width: 76em) {
  .nav__menu--checkbox:checked ~ .menu {
    width: 25rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .nav__menu--checkbox:checked ~ .menu {
    width: 18rem;
  }
}

.nav__menu--checkbox:checked + .nav__menu--button .nav__menu--button-icon {
  background-color: transparent;
}

.nav__menu--checkbox:checked + .nav__menu--button .nav__menu--button-icon::after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 0;
}

.nav__menu--checkbox:checked + .nav__menu--button .nav__menu--button-icon::before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 0;
}

.menu {
  width: 0;
  opacity: 0;
  height: 100vh;
  margin-top: 5.8rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  -webkit-transition: all .3s;
  transition: all .3s;
  visibility: hidden;
  /*&__background {
        width: 24rem;
        height: 100vh;
        margin-top: 5.8rem;
        background-color: rgba(205, 92, 92, 0.616);

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1234;
        display: none;
        opacity: .75;
    }*/
}

.menu__list {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__list-item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  height: 4rem;
  background-color: white;
}

.menu__list-item:first-child {
  background-color: #e2e2e2;
}

.menu__list-item:first-child:hover {
  background-color: #c9c9c9;
}

.menu__list-item:hover {
  background-color: #ebebeb;
}

.menu__list-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-decoration: none;
}

.menu__list-link--icon {
  color: #646464;
  font-size: 1.7rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  margin-left: 2.5rem;
}

.menu__list-link--text {
  color: #646464;
  font-weight: 500;
  font-size: 90%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  margin-left: 1rem;
}

.greyline {
  position: relative;
  margin-bottom: 2.4rem;
}

.greyline::after {
  content: "";
  width: 100%;
  height: .1rem;
  background-color: #dbdbdb;
  z-index: 555555555555555555;
  display: block;
  position: absolute;
  bottom: -1.2rem;
}

.dark-text {
  color: #0f0f0f !important;
}

@-webkit-keyframes MoveInLeft {
  0%, 50% {
    -webkit-transform: scaleX(0) translateX(10rem);
            transform: scaleX(0) translateX(10rem);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: scaleX(1) translateX(0);
            transform: scaleX(1) translateX(0);
  }
}

@keyframes MoveInLeft {
  0%, 50% {
    -webkit-transform: scaleX(0) translateX(10rem);
            transform: scaleX(0) translateX(10rem);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: scaleX(1) translateX(0);
            transform: scaleX(1) translateX(0);
  }
}

@-webkit-keyframes BorderRadius {
  0%, 50% {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }
  51%, 100% {
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
  }
}

@keyframes BorderRadius {
  0%, 50% {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }
  51%, 100% {
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
  }
}

@-webkit-keyframes Opacity {
  0%, 30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Opacity {
  0%, 30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-size: 1.6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
}
/*# sourceMappingURL=main.css.map */